@model HomePageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>
            </div>
            <div class="carousel-item active">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2 class="text-center mb-4">Cpus</h2>
    <div class="row row-cols-auto justify-content-center">
        @for (int i = 0; i <= 3; i++)
        {
            <div class="col my-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/300x300-placeholder.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Cpus[i].Brand @Model.Cpus[i].ModelName</h5>
                        <p class="card-text">@Model.Cpus[i].Price</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
    <h2>Gpus</h2>
    <div class="row row-cols-auto  justify-content-center">
        @for (int i = 0; i <= 3; i++)
        {
            <div class="col my-3 mx-2">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/300x300-placeholder.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Gpus[i].Brand @Model.Gpus[i].ModelName</h5>
                        <p class="card-text">@Model.Gpus[i].Price</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
