@model GpuModel
<h2 class="text-center mb-4">Delete Gpu</h2>
<div class="container">
    <div class="row justify-content-center">
        <form asp-action="Delete">
            <div class="mb-3 row">
                <input type="hidden" class="form-control" id="Id" name="Gpu.Id" value="@Model.Gpu.Id">
            </div>
            <div class="mb-3 row">
                <label for="Brand" class="col-3 form-label">Brand</label>
                <div class="col-9">
                    <input asp-for="Gpu.Brand" class="form-control" value="@Model.Gpu.Brand" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Model" class="col-3 form-label">Model</label>
                <div class="col-9">
                    <input asp-for="Gpu.ModelName" class="form-control" value="@Model.Gpu.ModelName" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="CoreCount" class="col-3 form-label">Graphics engine</label>
                <div class="col-9">
                    <input asp-for="Gpu.GraphicEngine" class="form-control" value="@Model.Gpu.GraphicEngine" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ThreadCount" class="col-3 form-label">Vram size</label>
                <div class="col-9">
                    <input asp-for="Gpu.VramSize" class="form-control" value="@Model.Gpu.VramSize" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="BaseClockSpeed" class="col-3 form-label">Vram type</label>
                <div class="col-9">
                    <input asp-for="Gpu.VramType" class="form-control" value="@Model.Gpu.VramType" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="MaxTurboFrequency" class="col-3 form-label">Base clock speed</label>
                <div class="col-9">
                    <input asp-for="Gpu.BaseClockSpeed" class="form-control" value="@Model.Gpu.BaseClockSpeed" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="CacheSize" class="col-3 form-label">Boost clock speed</label>
                <div class="col-9">
                    <input asp-for="Gpu.BoostClockSpeed" class="form-control" value="@Model.Gpu.BoostClockSpeed" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="SocketType" class="col-3 form-label">Memory bus width</label>
                <div class="col-9">
                    <input asp-for="Gpu.MemoryBusWidth" class="form-control" value="@Model.Gpu.MemoryBusWidth" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="IntegratedGraphics" class="col-3 form-label">Tdp</label>
                <div class="col-9">
                    <input asp-for="Gpu.Tdp" class="form-control" value="@Model.Gpu.Tdp" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="MemorySupport" class="col-3 form-label">Power connectors</label>
                <div class="col-9">
                    <input asp-for="Gpu.PowerConnectors" class="form-control" value="@Model.Gpu.PowerConnectors" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Tdp" class="col-3 form-label">Interface</label>
                <div class="col-9">
                    <input asp-for="Gpu.Interface" class="form-control" value="@Model.Gpu.Interface" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LaunchDate" class="col-3 form-label">Display ports</label>
                <div class="col-9">
                    <input asp-for="Gpu.DisplayPorts" class="form-control" value="@Model.Gpu.DisplayPorts" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LaunchDate" class="col-3 form-label">Launch date</label>
                <div class="col-9">
                    <input asp-for="Gpu.LaunchDate" class="form-control" value="@Model.Gpu.LaunchDate" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Price" class="col-3 col-3 form-label">Price</label>
                <div class="col-9">
                    <input asp-for="Gpu.Price" class="form-control" value="@Model.Gpu.Price" readonly>
                </div>
            </div>


            <div class="mb-3 row">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>

        </form>

    </div>

</div>