@model ImageUpdateModel;

<h2 class="text-center mb-4">@Model.ProductName Image List</h2>
<div class="container">
    <div class="row justify-content-center">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Image</th>
                    <th scope="col"><a href="../Create/@Model.ProductId?productType=@Model.ProductType" class="btn btn-sm btn-primary" role="button">Add Image</a></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.Images)
                {
                    <tr class="text-center">
                        <th scope="row">@(++i)</th>
                        <td>

                            @if (item.Type == false)
                            {
                                @("Mini")
                            }
                            else
                            {
                                @("Large")
                            }


                        </td>
                        <td><img class="img-thumbnail mx-auto d-block" style="max-width:200px; height:auto;" src="data:image/jpeg;base64, @Convert.ToBase64String(item.File)"></td>
                        <td>
                            <a href="Image/Delete/@item.ImageId" class="btn btn-sm btn-danger" role="button">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>

</div>